html, body{
    margin: 15;
}
#capa_site {
    background: url("imagens/capa\ site.png");
    height: 100%;
    left:  100;
    width: 99,5;
    background-size: 30%;
    background-position: center;
    text-align: center;
    border: solid 10px black;
}
#acao {
    color: white;
    boder: 1px white solid;

 }
  
 #p{
     font: size 100px;
     color: black;

 }
 #h3{
     font-size: 100px;
     color: black;
 }
 #subcapa{
     background-position: center;
     width: 100;
 }
 

